# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.env
*.log
.pytest_cache/
.mypy_cache/

# Alembic
alembic/versions/*.pyc

# Node / Frontend
node_modules/
dist/
dist-electron/
release/
*.local
.DS_Store

# Flutter
mobile/.dart_tool/
mobile/.packages
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.idea/

# Uploads
backend/uploads/

# IDE
.vscode/
.idea/

backend/firebase-service-account.json